<Configuration status="warn" name="lunar" packages="">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %p %c{1} - %m%n"/>
    </Console>
    <RollingFile name="ROLLING_FILE" fileName="logs/lunar.log"
        filePattern="logs/$${date:yyyy-MM}/lunar-%d{MM-dd-yyyy}-%i.log">
        <PatternLayout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c{1} - %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <OnStartupTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="1 GB"/>
        </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="STDOUT"/>
    </Root>
    <Root level="debug">
      <AppenderRef ref="ROLLING_FILE"/> 
    </Root>
  </Loggers>
</Configuration>
